#* Modelo .gitignore => Para projeto que utiliza JavaScript, CSS, HTML e Python (com um ambiente virtual venv)
# ***********************************
# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE-specific files
*.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Python virtual environment
venv/
__pycache__/
*.py[cod]

# Static assets cache
*.cache/

# Temp files
*.tmp
*.temp

# ***********************************
#* PARTICULARIDADES DO MEU PROJETO:

arquivos-gitignore/

# anotacoes_sobre_o_projeto.txt

# testes/

# ***********************************
